@import "../_styles/var.css";
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", serif;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--background);
  color: var(--text-primary);
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
}


.empty-block {
  margin: 200px;
}
:root{
  /* light theme tokens */
  --background-primary-light: 44, 191, 170;
  --accent-light: 37, 89, 88;

  /* dark theme tokens */
  --background-primary-dark: 25, 48, 66;
  --accent-dark: 90, 182, 204;
}
[data-theme='light'] {
  --background-primary: var(--background-primary-light);
  --accent: var(--accent-light);
}

[data-theme='dark'] {
  --background-primary: var(--background-primary-dark);
  --accent: var(--accent-dark);
}
