.header {
    height: 60px;
    background-color: #588157;
    width: 100vw;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.header p{
    margin: 0 30px;
    font-size: 20px;
}

.header p:hover{
    text-decoration: underline;
}
